version: '3'
services:
  express:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app/
      - /app/node_modules/
    ports:
      - 1337:1337
    links:
      - mongodb
    command: "node app.mjs"

  mongodb:
    image: mongo
    environment:
      - MONGO_DATA_DIR=/data/db
    volumes:
      - ./data/db:/data/db
    ports:
      - 27017:27017
    command: mongod
