version: '3'
services:
  express:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app/
      - /app/node_modules/
    ports:
      - 1337:1337
    command: "node server.mjs"
